fastapi
uvicorn
langchain
langchain-community
langgraph
qdrant-client
torch>=2.6.0
sentence-transformers
groq
deep-translator
langdetect
pymupdf
python-docx
reportlab
python-dotenv
pydantic
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
email-validator